@font-face {
        font-family: 'Literata';
        src: url('../fuentes/Literata-Regular.ttf');
        font-weight: normal;
}

@font-face {
        font-family: Literata;
        src: url('../fuentes/Literata-Medium.ttf');
        font-weight: bold;
}

* {
        box-sizing: border-box;
}

html {
        font-family: "Literata", -apple-system, BlinkMacSystemFont, Roboto;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
}

body {
        color: #465b6f;
        background-color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
}

h1, h2, h3 {
        font-weight: bold;
}       

a {
        color: #2783d7;
        text-decoration: none;
        background-color: transparent;
}

a:hover {
        color: #54aaf8;
        text-decoration: underline;
}

#contenido_centrado {
        width: 640px;
        margin: 0 auto;
        padding: 0 20px;
        border: 0;
}

#logo_pedagogia, #titulo {
        text-align: center;
}

#logo_pedagogia {
        margin-top: 5em;
}

#menu_de_secciones {
        text-align: center;
        display: table;
        width: 100%;
        margin: 3em 0;
}

#menu_de_secciones > a {
        width: 120px;
        display: inline-block;
        font-weight: bold;
        font-size: 0.9rem;
}

#menu_de_secciones > a:hover {
        text-decoration: none;
        color: #2783d7;
}

#menu_de_secciones > a > div {
        display: inline-block;
        border-width: 0 0 3px 0;
        border-color: transparent;
        border-style: solid;
        padding: 5px 0 2px 0;
}

#menu_de_secciones > a:not(#pagina_actual) > div:hover {
        border-color: #2783d7;
}

#menu_de_secciones > a#pagina_actual {
        color: white;
        background-color: #2783d7;
        border-radius: 10px;
}

#pie_de_pagina {
        text-align: center;
        font-size: 0.8rem;
        color: #94a9bc;
        margin: 5em 0 3em 0;
}

#pie_de_pagina > p {
        margin: 0;
}

#pie_de_pagina > hr {
        border-color: #d4dfe7;
        border-style: dotted;
        margin-bottom: 2em;
}

.elemento_listado {
        display: inline-block;
        width: 100%;
        margin: 2em 0;
        background-color: #f9fbfe;
        padding: 20px;
        border-radius: 20px;
}

.elemento_listado > #etiquetas {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.5em;
}

.elemento_listado > #etiquetas > .etiqueta {
        display: inline-block;
        padding: 3px 10px;
        font-size: 0.8rem;
        border-radius: 6px;
        background-color: #d4dfe7;
        font-weight: bold;
}

img.esquinas_redondas {
        border-radius: 14px;
}

.elemento_listado > #enlaces {
        display: grid;
        vertical-align: top;
        float: right;
        padding: 6px;
}

@media print, screen and (max-width: 640px) {
        body {
                word-wrap: break-word;
        }
        
        #contenido_centrado {
                width: auto;
                margin: 0;
        }
        
        #menu_de_secciones a {
                width: 40%;
                margin: 10px 10%;
        }
}
        
@media print {
        body {
                padding: 0.4in;
                font-size: 12pt;
        }
}