@font-face {
        font-family: 'Literata';
        src: url('../fuentes/Literata-Regular.ttf');
        font-weight: normal;
}

@font-face {
        font-family: 'Literata';
        src: url('../fuentes/Literata-SemiBold.ttf');
        font-weight: bold;
}

* {
        box-sizing: border-box;
}

html {
        font-family: "Literata", "Times New Roman", serif;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
}

body {
        color: #465b6f;
        background-color: #fff;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
}

h1, h2, h3, h4, #menu_de_secciones, #menu_de_encabezado, .autor {
        font-family: "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4 {
        font-weight: bold;
}

a {
        color: #2783d7;
        text-decoration: none;
        background-color: transparent;
}

a:hover {
        color: #54aaf8;
        text-decoration: underline;
}

figure {
        background-color: rgba(230, 235, 238, 0.4);
        padding: 0.5em 1.5em 1.5em 1.5em;
        border-radius: 0.6em;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(230, 235, 238, 1);
        text-align: justify;
}

blockquote {
        color: #213242;
}

figure , blockquote {
        margin-left: 0;
        margin-right: 0;
}

figcaption {
        font-size: 0.9rem;
}

#contenido_centrado {
        width: 640px;
        margin: 0 auto;
        padding: 0 16px;
}

#logo_pedagogia, #titulo {
        text-align: center;
}

#logo_pedagogia {
        margin-top: 4em;
}

#titulo {
        margin-bottom: 2em;
        margin-top: 0;
}

#menu_de_secciones {
        text-align: center;
        display: table;
        width: 100%;
}

#menu_de_secciones > a {
        width: 18.5%;
        display: inline-block;
        font-weight: bold;
        font-size: 0.9rem;
}

#menu_de_secciones > a:hover {
        text-decoration: none;
        color: #2783d7;
}

#menu_de_secciones > a > span {
        display: inline-block;
        border-width: 0 0 2px 0;
        border-color: transparent;
        border-style: solid;
        padding: 4px 0 2px 0;
}

#menu_de_secciones > a:not(#pagina_actual) > span:hover {
        border-color: #2783d7;
}

#menu_de_secciones > a#pagina_actual {
        color: white;
        background-color: #2783d7;
        border-radius: 2em;
}

#menu_de_encabezado {
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 0.8em;
        color: #90a6bc;
}

#menu_de_encabezado > a {
        font-size: 1.1em;
        font-weight: bold;
}

#menu_de_secciones, #menu_de_encabezado {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 0.6em;
        background-color: rgba(39, 131, 215, 0.09);
        border-width: 1px 0;
        border-color: rgba(39, 131, 215, 0.12);
        border-style: solid;
}

#pie_de_pagina {
        text-align: center;
        font-size: 0.8rem;
        color: #94a9bc;
        margin: 5em 0 3em 0;
}

#pie_de_pagina > hr {
        border-color: #d4dfe7;
        border-style: dotted;
        margin-bottom: 2em;
}

.elemento_listado {
        display: inline-block;
        width: 100%;
        margin: 0 0 2em 0;
        background-color: #f9fbfe;
        border-radius: 20px;
}

.elemento_listado > #etiquetas {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.5em;
        padding: 20px 20px 0 20px;
}

.elemento_listado > #etiquetas > .etiqueta {
        display: inline-block;
        padding: 3px 10px;
        font-size: 0.8rem;
        border-radius: 6px;
        background-color: #d4dfe7;
        font-weight: bold;
        white-space: nowrap;
}

#encabezado {
        width: 100%;
        text-align: center;
        margin-top: 5em;
}

.vista_previa {
        width: 100%;
        text-align: center;
}

.elemento_listado > #informacion {
        padding: 0 20px;
}

.elemento_listado > #informacion > #enlaces {
        display: grid;
        text-align: right;
        margin: 2em 0 1.2em 0;
}

.elemento_listado > #informacion > #enlaces > a {
        margin-top: 4px;
}

.autor {
        display: flex;
        align-items: center;
        font-weight: bold;
}

.autor:hover {
        text-decoration: none;
}

.autor > img {
        z-index: 1;
}

.autor > span {
        margin-left: -2.4em;
        background-color: rgba(39, 131, 215, 0.1);
        border-radius: 2em;
        padding: 0.5em 1.5em 0.5em 3em;
}

p.quoted {
        padding-left: 3em;
        padding-right: 1em;
}

@media print, screen and (max-width: 640px) {
        body {
                word-wrap: break-word;
        }
        
        #contenido_centrado {
                width: auto;
                margin: 0;
        }
        
        #menu_de_secciones {
                padding: 0.4em 0.35em 0.2em 0.35em;
        }
        
        #menu_de_secciones a {
                width: auto;
                padding-left: 15px;
                padding-right: 15px;
                margin: 5px 2px;
                font-size: 0.85rem;
        }
        
        #menu_de_secciones > a#pagina_actual {
                border-radius: 0.35em;
        }
}
        
@media print {
        body {
                padding: 0.4in;
                font-size: 12pt;
        }
}